<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
				<rule name="admouse">
					<match url="^(admouse|ADMOUSE)$" />
					<action type="Rewrite" url="admouse.html" />
				</rule>
				<rule name="colortec">
					<match url="^(colortec|COLORTEC)$" />
					<action type="Rewrite" url="colortec.html" />
				</rule>
				<rule name="dualmouse">
					<match url="^(dualmouse|DUALMOUSE)$" />
					<action type="Rewrite" url="dualmouse.html" />
				</rule>
				<rule name="botonmouse">
					<match url="^(botonmouse|BOTONMOUSE)$" />
					<action type="Rewrite" url="botonmouse.html" />
				</rule>
				<rule name="adaptec">
					<match url="^(adaptec|ADAPTEC)$" />
					<action type="Rewrite" url="adaptec.html" />
				</rule>
				<rule name="quienes somos">
					<match url="^(quienes-somos|QUIENES-SOMOS)$" />
					<action type="Rewrite" url="quienessomos.html" />
				</rule>
				<rule name="fotos">
					<match url="^(fotos|FOTOS)$" />
					<action type="Rewrite" url="fotos.html" />
				</rule>
                <rule name="videos">
					<match url="^(videos|VIDEOS)$" />
					<action type="Rewrite" url="videos.html" />
				</rule>
				<rule name="exposiciones">
					<match url="^(exposiciones|EXPOSICIONES)$" />
					<action type="Rewrite" url="exposiciones.html" />
				</rule>
				<rule name="reconocimientos">
					<match url="^(reconocimientos|RECONOCIMIENTOS)$" />
					<action type="Rewrite" url="reconocimientos.html" />
				</rule>
				<rule name="contacto">
					<match url="^(contacto|CONTACTO)$" />
					<action type="Rewrite" url="contacto.html" />
				</rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="4096" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
